[submodule "include/jwt-cpp"]
	path = include/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git
[submodule "include/mariadb"]
	path = include/mariadb
	url = https://github.com/mariadb-corporation/mariadb-connector-cpp.git
