:root {
   --glass: rgba(255, 255, 255, 0.25);
}

.Clients {
   display: flex;
   min-height: 100vh;
   background-color: #0d1117;
}

.Sidebar {
   width: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.7);
}

.Name-header {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.logo {
   width: 50px;
   height: 50px;
   margin-right: 10px;
}

.company-name {
   font-size: calc(24px + 1vmin);
   color: white;
   margin: 0;
}

.Content {
   flex-grow: 1;
   padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.SearchBarHeader {
   width: 80%;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
   position: relative;
}

.Clients-table-container {
   width: 90%;
   max-width: 2600px;
   background: linear-gradient(to bottom, #212020, #222121);
   border-radius: 1rem;
   padding: 0.75rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-top: 65px;
   margin-left: 1%;
   margin-right: 0.5%;
}

.Clients-table {
   width: 100%;
   border-collapse: collapse;
   text-align: left;
   font-size: calc(10px + 1vmin);
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   background: #000000;
   border-radius: 8px;
   overflow: hidden;
}

.Clients-table th, .Clients-table td {
   padding: 0.5rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Clients-table th {
   position: relative;
   background-color: rgba(0, 0, 0, 0.2);
   font-weight: bold;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
}

.Clients-table th button {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   cursor: pointer;
   opacity: 0;
}

.Clients-table th button:focus {
   outline: none;
}

.Clients-table th:hover button {
   opacity: 1;
   background: rgba(184, 40, 184, 0.1);
}

.Clients-table tr {
   transition: background-color 0.3s ease;
}

.Clients-table tr:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.Clients-table td {
   font-size: calc(8px + 1vmin);
   white-space: nowrap;
}

@media (max-width: 768px) {
   .SearchBarHeader, .Clients-table-container {
     width: 95%;
   }

   .Clients-table th, .Clients-table td {
     padding: 0.5rem;
     font-size: calc(8px + 1vmin);
   }
}

.button-container {
   position: absolute;
   top: 10px;
   right: 10px;
   display: flex;
   flex-direction: row;
   gap: 10px;
}

.newClientButton {
   padding: 8px 12px;
   font-size: calc(10px + 1vmin);
   color: white;
   background-color: #262626;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.newClientButton:hover {
   background-color: rgba(0, 0, 0, 0.7);
}

.newClient {
   width: 100%;
   max-width: 600px;
   background: var(--glass);
   border-radius: 10px;
   padding: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ReactModal__Close {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 30px;
   cursor: pointer;
}

.newClient label {
   display: block;
   width: 100%;
   margin-bottom: 10px;
   font-weight: bold;
   color: #333;
}

.newClient input {
   width: calc(100% - 16px);
   padding: 8px;
   margin-top: 5px;
   border-radius: 4px;
   border: 1px solid #ccc;
}

.newClient button {
   width: 100%;
   padding: 10px;
   background-color: #4caf50;
   color: white;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   margin-top: 20px;
   text-align: center;
}

.newClient button:hover {
   background-color: #45a049;
}
