:root {
   --glass: rgba(255, 255, 255, 0.25);
}

.Clients {
   display: flex;
   min-height: 100vh;
   background-color: #aeaeae;
   background-image: url(../../assets/background.jpg);
   background-size: cover;
   background-position: center;
}

.Sidebar {
   width: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: rgba(0, 0, 0, 0.7);
}

.SearchBarHeader {
   width: 80%;
   margin-bottom: 20px;
   display: flex;
   justify-content: center;
}

.Clients-table-container {
   width: 90%;
   max-width: 2600px;
   background-color: #4a50ef; 
   border-radius: 1rem;
   padding: 0.75rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-top: 65px;
   margin-left: 1%;
   margin-right: 0.5%;
}


.Clients-table {
   width: 100%;
   border-collapse: collapse;
   text-align: left;
   font-size: calc(10px + 1vmin);
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   border-radius: 8px;
   overflow: hidden;
   background: #000000;
}

.Clients-table th, .Clients-table td {
   padding: 0.5rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Clients-table th {
   background-color: rgba(0, 0, 0, 0.2);
   font-weight: bold;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center;
}

.Clients-table tr {
   transition: background-color 0.3s ease;
}

.Clients-table tr:hover {
   background-color: rgba(25, 26, 118, 0.1);
}

.Clients-table td {
   font-size: calc(8px + 1vmin);
   white-space: nowrap;
}

@media (max-width: 768px) {
   .SearchBarHeader, .Clients-table-container {
     width: 95%;
   }

   .Clients-table th, .Clients-table td {
     padding: 0.5rem;
     font-size: calc(8px + 1vmin);
   }
}

.button-container {
   position: absolute;
   top: 10px; 
   right: 10px; 
   display: flex;
   flex-direction: row;
   gap: 10px; 
}

.newClientButton { 
   padding: 8px 12px;
   font-size: calc(10px + 1vmin);
   color: white;
   background-color: #4a50ef; 
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

.newProductButton:hover,
.addStockButton:hover,
.newClientButton:hover { 
   background-color: #8316e9; 
}
