:root {
  --glass: rgba(255, 255, 255, 0.25);
}

.Employees {
  display: flex;
  min-height: 100vh;
  background-color: #0d1117;
}

.Content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.Employees-table-container {
  width: 90%;
  max-width: 2600px;
  background: linear-gradient(to bottom, #212020, #222121);
  border-radius: 1rem;
  padding: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 65px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.Employees-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  background: #000000;
  border-radius: 8px;
  overflow: hidden;
}

.Employees-table th, .Employees-table td {
  padding: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Employees-table th {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.Employees-table tr {
  transition: background-color 0.3s ease;
}

.Employees-table tr:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Employees-table td {
  font-size: calc(8px + 1vmin);
  white-space: nowrap;
}

@media (max-width: 768px) {
  .Employees-table-container {
    width: 95%;
  }

  .Employees-table th, .Employees-table td {
    padding: 0.5rem;
    font-size: calc(8px + 1vmin);
  }
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.newEmployeeButton {
  padding: 8px 12px;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #262626;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newEmployeeButton:hover {
  background-color: #393838;
}

.editEmployeeButton {
  padding: 8px 12px;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color: #262626;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.editEmployeeButton:hover {
  background-color: #393838;
}

.ReactModal__Content {
  width: 400px;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.ReactModal__Close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.newEmployee {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newEmployee h2 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.newEmployee label {
  width: 100%;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.newEmployee input {
  width: calc(100% - 16px);
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.newEmployee button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}

.newEmployee button:hover {
  background-color: #45a049;
}

.deleteEmployee button {
  width: 100%; 
  padding: 10px;
  background-color: #e74c3c; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.deleteEmployee button:hover {
  background-color: #c0392b; 
}

.updateEmployee button {
  width: 100%; 
  padding: 10px;
  background-color: #103cdc; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.updateEmployee button:hover {
  background-color: #0f1adf; 
}
