
:root {
   --glass: rgba(255, 255, 255, 0.25);
}

.Employee {
   display: flex;
   min-height: 100vh;
   background-color: #0d1117; 
}

.Sidebar {
   width: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: transparent;
}

.Content {
   flex-grow: 1;
   padding: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
}

.Employee-table-container {
   width: 90%;
   max-width: 2600px;
   background: linear-gradient(to bottom, #212020, #222121); 
   border-radius: 1rem;
   padding: 0.75rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   margin-top: 65px;
   margin-left: 1%;
   margin-right: 0.5%;
}

.Employee-table {
   width: 100%;
   border-collapse: collapse;
   text-align: left;
   font-size: calc(10px + 1vmin);
   color: white;
   background-color: rgba(0, 0, 0, 0.5);
   background: #000000;
   border-radius: 8px;
   overflow: hidden;
}

.Employee-table th, .Employee-table td {
   padding: 0.5rem;
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.Employee-table th {
   position: relative;
   background-color: rgba(0, 0, 0, 0.2);
   font-weight: bold;
   color: #ffffff;
   text-transform: uppercase;
   text-align: center; 
}

.Employee-table th button {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: transparent;
   border: none;
   cursor: pointer;
   opacity: 0; 
}

.Employee-table th button:focus {
   outline: none; 
}

.Employee-table th:hover button {
   opacity: 1; 
   background: rgba(184, 40, 184, 0.1); 
}

.Employee-table tr {
   transition: background-color 0.3s ease;
}

.Employee-table tr:hover {
   background-color: rgba(255, 255, 255, 0.1);
}

.Employee-table td {
   font-size: calc(8px + 1vmin);
   white-space: nowrap;
}
