.Daily {
   background-color: #30096e;
   background-image: linear-gradient(to bottom, #30096e 0%, #30096e 10%, #5f10aa 100%);
   width: 95.5%;
   height: 99.5%;
   margin-left: 2%;
   margin-right: 2%;
   border-radius: 3rem;
}

.Daily-header {
   align-self: right;
}