:root {
   --glass: rgba(255, 255, 255, 0.25); 
}

.Login {
   text-align: center;
   color: white;
   font-size: calc(20px + 2vmin);
   background-color: #0d1117; 
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-shadow: #000 1px 1px;
   background-image: none; 
   position: relative; 
}

.Login .logo-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 0.4rem;
   transform: translateX(-25px);
}

.Login .logo {
   font-family: impact;
   display: flex;
   align-items: center;
   font-weight: bold;
   font-size: 95px;
   gap: 0.1rem; 
   margin: 0;
   background: transparent;
   border: none;
}

.Login .logo > img {
   width: 7rem;
   height: 7rem;
}

.Login .logo > span > span {
   color: rgb(221, 78, 221);
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   max-width: 400px;
}

.input-field {
   display: flex;
   align-items: center;
   width: 100%;
   height: 40px;
   margin: 15px auto;
   border-radius: 40px;
   font-size: 20px;
   background-color: whitesmoke;
   border: 2px solid rgba(0, 0, 0, 0.15);
   padding: 0 20px;
   box-sizing: border-box;
}

.input-field input {
   width: 100%;
   height: 100%;
   background-color: transparent;
   border: none;
   font-size: 20px;
   outline: none;
}

.Login .recall {
   display: flex;
   justify-content: center;
   margin: 15px 0;
   font-size: calc(14px + 1vmin);
}

.recall input {
   margin-right: 7px;
}

.Login button {
   width: 70%;
   height: 40px;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 15px;
   background-color: #0059ff;
   color: white;
   border: none;
   cursor: pointer;
}


button.cadastro {
   width: 70%;
   height: 40px;
   border-radius: 40px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   font-size: 20px;
   font-weight: 500;
   margin-bottom: 15px;
   background-color: orange; 
   color: white;
   border: none;
   cursor: pointer;
}

button.cadastro:hover {
   background-color: darkorange;
}

.watermark {
   position: center;
   bottom: 1rem;
   right: 1rem;
   font-size: 15px;
   color: rgba(255, 255, 255, 0.5);
   text-align: right;
   z-index: 1000;
   opacity: 0.8;
}
