.user-icon-container {
  position: relative;
  top: -23px; 
  left: 1820px; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px; 
  height: 60px; 
  background-color: #262626; 
  border-radius: 50%; 
  cursor: pointer;
}

.user-icon {
  width: 6px; 
  height: 6px; 
  border-radius: 50%;
  object-fit: cover; 
}
