.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 1rem;
    transition: all 300ms ease;
    text-shadow: #000 1px 1px;
    font-family: impact;
    justify-content: right;
    align-items: right;
}

.logo{
    display: flex;
    height: 1rem;
    font-weight: bold;
    font-size: 50px;
    gap : 1rem;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 4%;
}

.logo>img{
    width: 5rem;
    height: 5rem;
}

.logo>span>span{
    color: rgb(221, 78, 221);
}