.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo{
    display: flex;
    height: 5rem;
    font-weight: bold;
    font-size: 22px;
    gap : 1rem;
    align-items: center;
    justify-content: center;
    height: 4%;
    width: 4%;
}

.logo>img{
    width: 15rem;
    height: 15rem;
}

.logo>span>span{
    color: rgb(221, 78, 221);
}

/* menu */

.menu{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 25px; 
}

.menuItem{
    display: flex;
    align-items: center;
    gap: 1rem;
}