.Menu {
   display: flex;
   flex-direction: column;
   width: 100%;
   position: absolute;
   top: 2rem;
   left: 0;
}

.UserIconWrapper img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   object-fit: cover;
   cursor: pointer;
}

.MenuItem {
   margin: 5px 0;
   display: flex;
   align-items: center; 
   padding: 0; 
   border-radius: 0.5rem;
   background-color: #262627;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
   width: 100%; 
   height: 80px; 
   font-size: medium;
}

.MenuItem a {
   display: flex;
   align-items: center;
   justify-content: flex-start; 
   background-color: transparent;
   width: 100%;
   height: 100%;
   padding: 0 1.5rem; 
   border-radius: 4px;
   text-decoration: none;
   color: #ffffff;
   font-size: 19px;
   font-weight: bold;
}

.MenuItem button {
   background-color: transparent;
   width: 100%;
   height: 100%;
   padding: 0 1.5rem; 
   border-radius: 0.5rem;
   border: transparent;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center
}

.Menu-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.MenuItem:hover {
   background-color: #393838;
}

.Menu-icon {
   margin-right: 0.4rem;
   color: #fb02ff;
   font-size: 1.5rem;
}

.Menu-header {
   align-self: start;
   position: relative;
   margin-left: 0.5%;
   background-color: transparent;
   font-size: calc(20px + 2vmin);
}