.Menu {
   position: relative; /* Make sure the Menu div is positioned relative for absolute positioning inside */
   padding-top: 50px; /* Adjust padding to leave space for the user icon */
}

.UserIconWrapper img {
   width: 10px; /* Set the size of the user icon */
   height: 10px; /* Set the size of the user icon */
   border-radius: 50%; /* Make the icon circular */
   object-fit: cover; /* Ensure the image fits well inside the circular frame */
   cursor: pointer;
}

.MenuItem {
   margin: 10px 0;
}

.Menu-icon {
   margin-right: 10px;
}


.MenuItem {
   display: flex;
   align-items: center;
   padding: 1rem;
   border-radius: 0.5rem;
   background-color: #262627;
   color: white;
   cursor: pointer;
   transition: background-color 0.3s ease;
   width: 99.5%;
   height: 10%;
   font-size: medium;
   max-width: 250px;
}


.MenuItem button {
   background-color: transparent;
   width: 99.5%;
   height: 10%;
   border-radius: 0.5rem;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0);
   border: transparent;
   position: absolute;
   cursor: pointer;
}

.Menu-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}
.MenuItem:hover {
   background-color:#393838;
}
.Menu-icon {
   margin-right: 0.4rem;
   color: #fb02ff;
   font-size: 1.5rem;
}
.Menu-header {
   align-self: start;
   position: relative;
   margin-left: 0.5%;
   background-color: transparent;
   font-size: calc(20px + 2vmin);
}
