.App {
  text-align: left;
  color: white;
  font-size: calc(20px + 2vmin);
  background-color: #2f1624;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
  align-items: top;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Name-header {
  background-color: #2f1624;
  font-size: calc(40px + 2vmin);
  color: white;
}

.App-header {
  background-color: #2f1624;
  min-height: 80vh;
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #0059ff;
  font-size: calc(5px + 2vmin);
}
  
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
