:root {
  --glass: rgba(255, 255, 255, 0.1); 
}

.App {
  text-align: center;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: calc(20px + 2vmin);
  background-color: #2f1624;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Name-header {
  background-color: #2f1624;
  font-size: calc(40px + 2vmin);
  color: white;
}

.App-header {
  background-color: #2f1624;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #0059ff;
  font-size: calc(5px + 2vmin);
}

.App-glass {
  display: grid;
  height: 99%;
  width: 99%;
  border-radius: 1rem;
  background-color: var(--glass);
  overflow: hidden;
  grid-template-columns: 11rem auto 20rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

