:root {
   --glass: rgba(255, 255, 255, 0.25);
}

.History {
   text-align: center;
   color: white;
   font-family: 'Inter', sans-serif;
   font-size: calc(20px + 2vmin);
   background-color: #2f1624;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-shadow: #000 1px 1px;
   background-image: url(../../assets/background.jpg);
   background-size: cover;
   background-position: center;
}

.History-logo {
   height: 50vmin;
   pointer-events: none;
}

.Name-header {
   background-color: #2f1624;
   font-size: calc(40px + 2vmin);
   color: white;
}

.History-header {
   background-color: #2f1624;
   min-height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(20px + 2vmin);
   color: white;
}

.History-link {
   color: #0059ff;
   font-size: calc(5px + 2vmin);
}

.History-glass {
   display: flex;
   flex-direction: column;
   width: 90%;
   height: 90%;
   border-radius: 2rem;
   background-color: var(--glass);
   padding: 2rem;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   align-items: center;
   overflow: hidden;
}

.main-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.header {
   text-align: center;
   margin-bottom: 2rem;
}

.logo {
   width: 150px;
   /* Ajuste o tamanho da logo conforme necessário */
   height: auto;
   margin-bottom: 1rem;
}

.company-name {
   font-size: calc(24px + 1vmin);
   margin: 0;
   color: white;
}