:root {
   --glass: rgba(255, 255, 255, 0.25);
}

.History {
   display: flex;
   min-height: 100vh;
   background-color: #0d1117; 
}

.Sidebar {
   width: 230px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: transparent;
}